<div class="flex items-center p-2 bg-slate-200 hover:tex hover:bg-amber-800 cursor-pointer rounded-xl hover:text-white">
    <img src="https://i.pinimg.com/enabled_lo/564x/d9/bc/1a/d9bc1abeb5be60f7e6075790946dfc01.jpg" alt="User Photo" class="w-12 h-12 rounded-full mr-3">
    <div class="flex flex-col list-none gap-1">
    <li class="font-bold">Groupe DFE P4</li>
    <li class="text-sm text-gray-500">Le cour flutter se fera demain</li>
    <li class="text-xs text-gray-400">10:30 PM</li>
    </div>
</div>