#logo {
    width: 100px;
    height: 100px;
}
  
.Forgetpass {
    text-decoration: none;
    color: rgba(120, 53, 15, 1);
}

input:focus {
    color: gray;
}

.section-img {
  position: relative;
  background-image: url('/assets/images/ISEPD.jpg'); /* Chemin de votre image de fond */
  background-size: cover;
  animation: anim 20s ease-in-out infinite; /* Boucle infinie pour l'animation */
}

/* Superposition sombre avec ::before */
.section-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Ajustez l'opacité pour le niveau d'assombrissement souhaité */
  z-index: 1;
}


/* Animation de l'image de fond */
@keyframes anim {
  0% {
    background-position: 0% 0;
  }
  50% {
    background-position: 15%;
  }
  100% {
    background-position: 0% 0;
  }
}

.titre-1 {
  z-index: 10;
  font-size: 24px;
}



/* Les Media Queries */

/* Téléphone en portrait */
@media (max-width: 480px) {
  body {
    justify-content: center;
  }
  .section-img {
    display: none;
  }
  .section-form {
    width: max-content;
  }
}

/* Téléphone en paysage */
@media (min-width: 481px) and (max-width: 767px) {

}

/* Tablette en portrait */
@media (min-width: 768px) and (max-width: 1024px) {

}

/* Tablette en paysage */
@media (min-width: 1025px) and (max-width: 1280px) {

}
