#logo {
    width: 140px;
    height: 140px;
  }
  
.Forgetpass {
    text-decoration: none;
    color: rgba(120, 53, 15, 1);
}

input:focus {
    color: gray;
}



/* Les Media Queries */

/* Téléphone en portrait */
@media (max-width: 480px) {
  body {
    justify-content: center;
  }
  .section-img {
    display: none;
  }
  .section-form {
    width: max-content;
  }
}

/* Téléphone en paysage */
@media (min-width: 481px) and (max-width: 767px) {

}

/* Tablette en portrait */
@media (min-width: 768px) and (max-width: 1024px) {

}

/* Tablette en paysage */
@media (min-width: 1025px) and (max-width: 1280px) {

}
