<div class="flex flex-col gap-2">
    
    <div class="flex items-center w-full p-2 bg-slate-200 hover:tex hover:bg-amber-800 cursor-pointer rounded-xl hover:text-white">
        <img src="https://i.pinimg.com/enabled_lo/564x/d9/bc/1a/d9bc1abeb5be60f7e6075790946dfc01.jpg" alt="User Photo" class="w-12 h-12 rounded-full mr-3">
        <div class="flex flex-col list-none gap-1">
        <li class="name-user font-bold">Ousseynou Dieye</li>
        <li class="text-message text-sm text-gray-500 w-full ">Le prof ne viendra pas demain Le prof ne viendra pas demain Le prof ne viendra pas demain</li>
        <li class="message-time text-xs text-gray-400">00:30 PM</li>
        </div>
    </div>
    <div class="flex items-center p-2 bg-slate-200 hover:tex hover:bg-amber-800 cursor-pointer rounded-xl hover:text-white">
        <img src="https://i.pinimg.com/enabled_lo/564x/d9/bc/1a/d9bc1abeb5be60f7e6075790946dfc01.jpg" alt="User Photo" class="w-12 h-12 rounded-full mr-3">
        <div class="flex flex-col list-none gap-1">
        <li class="font-bold">Ndaraw Fall</li>
        <li class="text-sm text-gray-500">Salut , comment ça va ?</li>
        <li class="text-xs text-gray-400">9:07 PM</li>
        </div>
    </div>
    <div class="flex items-center p-2 bg-slate-200 hover:tex hover:bg-amber-800 cursor-pointer rounded-xl hover:text-white">
        <img src="https://i.pinimg.com/enabled_lo/564x/d9/bc/1a/d9bc1abeb5be60f7e6075790946dfc01.jpg" alt="User Photo" class="w-12 h-12 rounded-full mr-3">
        <div class="flex flex-col list-none gap-1">
        <li class="font-bold">Aramatoulaye Goudiaby</li>
        <li class="text-sm text-gray-500">Salut , comment ça va ?</li>
        <li class="text-xs text-gray-400">9:07 PM</li>
        </div>
    </div>
    <div class="flex items-center p-2 bg-slate-200 hover:tex hover:bg-amber-800 cursor-pointer rounded-xl hover:text-white">
        <img src="https://i.pinimg.com/enabled_lo/564x/d9/bc/1a/d9bc1abeb5be60f7e6075790946dfc01.jpg" alt="User Photo" class="w-12 h-12 rounded-full mr-3">
        <div class="flex flex-col list-none gap-1">
        <li class="font-bold">Fatima Kane</li>
        <li class="text-sm text-gray-500">Salut , comment ça va ?</li>
        <li class="text-xs text-gray-400">9:07 PM</li>
        </div>
    </div>
    <div class="flex items-center p-2 bg-slate-200 hover:tex hover:bg-amber-800 cursor-pointer rounded-xl hover:text-white">
        <img src="https://i.pinimg.com/enabled_lo/564x/d9/bc/1a/d9bc1abeb5be60f7e6075790946dfc01.jpg" alt="User Photo" class="w-12 h-12 rounded-full mr-3">
        <div class="flex flex-col list-none gap-1">
        <li class="font-bold">Nom d'utilisateur</li>
        <li class="text-sm text-gray-500">Salut , comment ça va ?</li>
        <li class="text-xs text-gray-400">9:07 PM</li>
        </div>
    </div>
</div>
