<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class=" flex items-center justify-center space-y-6">
    <div class="w-96 content-body flex flex-col gap-3 justify-center items-center">
        <input type="email" name="email" id="email" placeholder="Entrez votre email" class="w-full bg-slate-200 py-2 px-4 border border-gray-300 rounded-xl focus:outline-amber-900">
        <button type="submit" class="w-full bg-amber-800 text-white p-2 rounded-xl hover:bg-amber-900 transition duration-300 font-semibold">Changer le mot de passe</button>
    </div>
</body>
</html>