<div class="flex min-h-screen">
    <!-- Sidebar -->
    <aside class="w-64 bg-gradient-to-b bg-white text-amber-800 p-6 flex flex-col justify-between mr-10 items-center">
        <div>
            <div class="flex items-center mb-10 gap-4">
                <img src="assets/images/ISEPAT_logo.png" alt="Logo" class="w-10 h-10 ml-2">
                <span class="text-xl font-bold tracking-wider">Administrateur</span>
            </div>
            <nav>
                <ul class="space-y-4">
                    <li><a class="link flex items-center  hover:bg-amber-600 p-2 rounded-lg transition duration-300" [ngClass]="{'bg-amber-700 text-white': isActive('dashboard')}" (click)="setActive('dashboard')">Tableau de Bord</a></li>
                    <li><a class="link flex items-center hover:bg-amber-600 p-2 rounded-lg transition duration-300" [ngClass]="{'bg-amber-700 text-white': isActive('formateurs')}" (click)="setActive('formateurs')">Formateurs</a></li>
                    <li><a class="link flex items-center hover:bg-amber-600 p-2 rounded-lg transition duration-300" [ngClass]="{'bg-amber-700 text-white': isActive('groupes')}" (click)="setActive('groupes')">Groupes</a></li>
                </ul>
            </nav>
        </div>
        <img src="assets/images/admin_photo.jpeg" class="rounded-full" alt="">
        <button (click)="logout()" class="w-full bg-amber-800 text-white px-4 py-2 rounded-md hover:bg-amber-600 transition duration-300">Déconnexion</button>
    </aside>

    <!-- Main Content -->
    <main class="flex-grow p-6 bg-amber-200 rounded-lg shadow-md">
        <div class="grid ">
            
            <div *ngIf="activeMenu === 'dashboard'" class="dashboard grid grid-cols-1 md:grid-cols-2 gap-4">
                <!-- Formulaire pour Créer un Formateur -->
                <div class="p-6 bg-white rounded-lg shadow-md">
                    <form class="space-y-4">
                        <div>
                            <label for="prenom" class="block text-sm font-medium text-gray-700">Prénom</label>
                            <input type="text" id="prenom" name="prenom" required class="mt-1 block w-full border border-gray-300 rounded-md p-3 focus:outline-none focus:ring focus:ring-amber-700 transition duration-150 ease-in-out" placeholder="Entrez votre prénom">
                        </div>
                        <div>
                            <label for="nom" class="block text-sm font-medium text-gray-700">Nom</label>
                            <input type="text" id="nom" name="nom" required class="mt-1 block w-full border border-gray-300 rounded-md p-3 focus:outline-none focus:ring focus:ring-amber-700 transition duration-150 ease-in-out" placeholder="Entrez votre nom">
                        </div>
                        <div>
                            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                            <input type="email" id="email" name="email" required class="mt-1 block w-full border border-gray-300 rounded-md p-3 focus:outline-none focus:ring focus:ring-amber-700 transition duration-150 ease-in-out" placeholder="Entrez votre email">
                        </div>
                        <button type="submit" class="w-full bg-amber-900 text-white py-3 rounded-md hover:bg-amber-700 transition duration-150 ease-in-out">AJOUTER UN FORMATEUR</button>
                    </form>
                </div>

                <!-- Formulaire pour Créer un Groupe -->
                <div class="p-6 bg-white rounded-lg shadow-md">
                    <form class=" flex flex-col justify-evenly space-y-4">
                        <div>
                            <label for="nomGroupe" class="block text-sm font-medium text-gray-700">Nom du Groupe</label>
                            <input type="text" id="nomGroupe" name="nomGroupe" required class="mt-1 block w-full border border-gray-300 rounded-md p-3 focus:outline-none focus:ring focus:ring-amber-700 transition duration-150 ease-in-out" placeholder="Entrez le nom du groupe">
                        </div>
                        <div>
                            <label for="filiere" class="block text-sm font-medium text-gray-700">Sélectionner Filière</label>
                            <select id="filiere" name="filiere" required class="mt-1 block w-full border border-gray-300 rounded-md p-3 focus:outline-none focus:ring focus:ring-amber-700 transition duration-150 ease-in-out">
                                <option value="">Choisissez une filière</option>
                                <option *ngFor="let filiere of filieres" [value]="filiere.id">{{ filiere.nom }}</option>
                            </select>
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Sélectionner la promotion</label>
                            <select  name="filiere" required class="mt-1 block w-full border border-gray-300 rounded-md p-3 focus:outline-none focus:ring focus:ring-amber-700 transition duration-150 ease-in-out">
                                <option disabled value="">Promo</option>
                                <option *ngFor="let promo of promos" [value]="promo.id">{{ promo.nom }}</option>
                            </select>
                        </div>
                        <button type="submit" class="w-full bg-amber-900 text-white py-3 rounded-md hover:bg-amber-700 transition duration=150 ease-in-out">Créer un Groupe</button>
                    </form>
                </div>
            </div>

            <div *ngIf="activeMenu === 'formateurs'">
                <app-formateurs></app-formateurs>
            </div>
            <div *ngIf="activeMenu === 'groupes'">
                <app-groupes></app-groupes>
            </div>

        </div>
    </main>

</div>

<style>
  /* Animation pour les boutons */
  button {
    position: relative;
    overflow: hidden;
  }
  
  button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease;
  }

  button:hover::after {
    transform: translate(-50%, -50%) scale(1);
  }
</style>
