.link {
    text-decoration: none;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.link:hover {
    color: white;
}

.link.active {
    background-color: #d97706;
    color: #ffffff;
}

main {
    width: 100%;
}

.rounded-full {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.dashboard {
    margin-bottom: 20px; /* Espacement entre les formulaires */
}