* {
    margin: 0;
    padding: 0;
}


.content-body {
    padding: 0 90px;
    margin-top: 10px 90px;
    align-items: start;
}



.username {
    font-size: large;
    font-weight: bold;
}


.first-block {
    
}

.message {
    box-shadow: 0 0 30px 20px rgba(141, 86, 3, 0.26);
}

/* Les Media Queries */

/* Téléphone en portrait */
@media (max-width: 480px) {
    *{
        margin: 0;
        padding: 0;
    }

    .content-body {
        padding: 80px 20px;
        margin: 0;
        margin-top: 5%;
        background-color: bisque;
        display: block;
    }

    .first-block,.third-block {
        display: none;
    }

}

/* Téléphone en paysage */
@media (min-width: 481px) and (max-width: 767px) {
    *{
        margin: 0;
        padding: 0;
    }

    .content-body {
        padding: 80px 20px;
        margin: 0;
        margin-top: 5%;
        background-color: bisque;
        display: block;
    }

    .first-block,.third-block {
        display: none;
    }

}

/* Tablette en portrait */
@media (min-width: 768px) and (max-width: 1024px) {
    *{
        margin: 0;
        padding: 0;
    }

    .content-body {
        padding: 80px 20px 10px 20px;
        margin: 0;
        margin-top: 5%;
        background-color: bisque;
        display: block;
    }

    .first-block,.third-block {
        display: none;
    }

}

/* Tablette en paysage */
@media (min-width: 1025px) and (max-width: 1280px) {

}

  