<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/primeicons/1.0.0/primeicons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/primevue/3.6.2/primevue.min.css" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body>
    <app-navbar></app-navbar>

    <div class="container w-full">
        <div class="content-body grid grid-cols-12 gap-4 mt-14">
            <!-- Premier Div : Informations de l'utilisateur -->
            <div class="first-block col-span-12 md:col-span-3 bg-slate-300 rounded-xl flex flex-col items-center" style="height: calc(100vh - 120px);">
                <!-- Partie supérieure : bannière -->
                <div class="w-full h-1/2 bg-cover bg-center rounded-t-lg" style="background-image: url('assets/images/banniere.jpg');"></div>

                <!-- Image de profil positionnée entre les deux sections -->
                <div class="absolute top-1/2 transform -translate-y-1/2 flex justify-center w-full">
                    <img [src]="currentUser?.profile_picture || 'assets/images/weuz.jpg'" 
                         [alt]="currentUser?.username" 
                         class="w-40 h-40 rounded-full border-4 border-white object-cover shadow-lg">
                </div>

                <!-- Partie inférieure : Informations de l'utilisateur -->
                <div class="flex flex-col items-center justify-center w-full h-1/2 bg-amber-800 pt-2 rounded-b-xl">
                    <div *ngIf="loading" class="text-white">
                        Chargement...
                    </div>
                    <div *ngIf="error" class="text-red-500">
                        {{ error }}
                    </div>
                    <div *ngIf="!loading && !error && currentUser">
                        <h2 class="text-xl font-semibold text-white username text-center">{{ currentUser.username }}</h2>
                        <p class="text-white profession text-center">{{ currentUser.role }}</p>
                    </div>
                </div>
            </div>

            <!-- Deuxième Div : Fonctionnalité de Post -->
            <div class="second-block col-span-12 md:col-span-6 flex flex-col gap-3 overflow-y-auto px-3 pb-5" style="height: calc(100vh - 120px);">
                <app-create-post></app-create-post>
                <app-post-list></app-post-list>
            </div>

            <!-- Troisième Div : Posts de l'Info Manager -->
            <div class="third-block col-span-12 md:col-span-3 bg-white rounded-lg px-2 py-4 flex flex-col" style="height: calc(100vh - 120px);">
                <h3 class="text-lg font-semibold mb-4 text-gray-800 px-2 self-center">Informations importantes</h3>
                <!-- Messages -->
                <div class="message bg-gray-100 p-4 mb-2 rounded  hover:bg-gray-200 transition-colors cursor-pointer">Hackaton 2024</div>
                <div class="message bg-gray-100 p-4 mb-2 rounded  hover:bg-gray-200 transition-colors cursor-pointer">Recrutement ADIE</div>
                <div class="message bg-gray-100 p-4 mb-2 rounded  hover:bg-gray-200 transition-colors cursor-pointer">Final Inter-Filiere</div>
            </div>
        </div>
    </div>
</body>
</html>